@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@assets/mixins";

html {
    padding: 0;
    margin: 0;

    font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
}

body {
    line-height: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

*,
::before,
::after {
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;

    text-size-adjust: none;
    -webkit-text-size-adjust: none;

    button {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
    }
}

#__next {
    font-size: 15px;
    font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #191919;

    @media only screen and (min-width: 1024px) {
        font-size: 1.2vw;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1125px) {
        font-size: 13.5px;
    }

    @media only screen and (min-width: 1500px) {
        font-size: 18px;
    }
}
